<div ng-controller="AirlinesEndUserHomeCtrl" class="container-fluid col-xs-12 col-sm-12  col-md-12 col-lg-12">
				<div class="clearfix"></div>
				<div class="row">
					<h3>Frequent Flyer Rewards Management</h3>
					<h3>Airlines Booking Site</h3>
					<p class="emphasis">Welcome to  Frequent Flyer Rewards Management Application Proof of Concept (POC) powered by IBM Hyperledger
					<br/>Select from actions below</p>
				</div>
				<div class="clearfix visible-xs visible-sm visible-md visible-lg">&nbsp;</div>
				<div class="row">
					<button class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 btn btn-primary btn-large btn-shadow-white" 
					ng-click="open_link('/airlines-user-flight-book');" >Book A Flight</button>
					<div class="clearfix">&nbsp;</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="row">
					<a class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 btn btn-danger btn-large btn-shadow-white"
					ng-click="open_link('/airlines-user-booking')" >View Bookings</a>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>
		</div>
