<div class="panel panel-primary panel-shadow" ng-controller="HotelEndUserSearchCtrl">
    <div class="panel-heading">
        <h3 class="panel-title form-header text-center">Search Hotel</h3>
    </div>
    <div class="panel-body">

        <form ng-submit="search_rooms();" class="form-horizontal" role="form">
           <div class="form-group form-inline col-md-6">
             <label for="inputLocation" class="col-md-4 control-label">Select City</label>
             <select name="location" id="inputLocation" 
                        class="form-control col-md-8" ng-model="location" ng-init="location='DELHI'">
                            <option value="">-- Select One --</option>
                            <option value="DELHI">Delhi</option>
                            <option value="MUMBAI">Mumbai</option>
                            <option value="CHENNAI">Chennai</option>
                            <option value="Bengaluru">Bangaluru</option>
                        </select>
            </div>
           <div class="form-group form-inline col-md-6">
             <label for="guestCount" class="col-md-6 control-label">Number of guests</label>
             <select name="guestCount" id="guestCount" 
                        class="form-control col-md-6" ng-model="guestCount" ng-init="guestCount='1'">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                </select>
            </div>
            <div class="form-group form-inline col-md-6">
                <label for="checkinDate" class="col-md-4 control-label">Checkin date</label>
                <input name="checkinDate" id="checkinDate"  class="form-control col-md-8"
                type="text" placeholder="DD/MM/YYYY" ng-model="checkinDate"/>
                        
            </div>
           <div class="form-group form-inline col-md-6">
                <label for="checkoutDate" class="col-md-6 control-label">Checkout date</label>
                <input name="checkoutDate" id="checkoutDate"  class="form-control col-md-8"
                type="text" placeholder="DD/MM/YYYY" ng-model="checkoutDate"/>
                        
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn-shadow btn btn-success col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">Search</button>
            </div>
        </form>
        <div ng-show="showResults">
             <legend class="text-center">Search results</legend> 
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Hotel name</th>
                          <th>Room type</th>
                          <th>Price</th>
                          <th>Meal plan</th>
                          <th>Total price</th>
                          <th>Reward points</th>
                          <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="room in rooms">
                          <td>{{room.propName}}</td>
                          <td>{{room.roomType}}</td>
                          <td>{{room.pricePerDay}}</td>
                          <td>{{room.plan}}</td>
                           <td>{{room.total}}</td>
                           <td>{{room.loaltyPoints}}</td>
                          <td><button class="btn btn-danger" ng-click="goto_paymenet(room)">Book this room</button></td>
                      </tr>
                  </tbody>
              </table>
                
        </div>   
    </div>
</div>